<div class="container" ng-controller="EarthquakesCtrl">
    
    <h1>Latest Earthquake Today</h1>

    <div class="form-group">
        <label>Minimum magnitude:</label>
        
        <select ng-model="earthquakesParams.minMagnitude" ng-change="getEarthquakes()">
            <option ng-repeat="magnitude in magnitudes" value="{{ magnitude.id }}">{{ magnitude.id }}</option>
        </select>

    </div>

    <article>
        <div ng-repeat="earthquake in earthquakes.features">
            <a ng-href="#/earthquakes/{{ earthquake.id }}"><h4>Earthquake magnitude {{ earthquake.properties.mag }}</h4></a>
            <p>Location: {{ earthquake.properties.place }} {{ earthquake.geometry.coordinates }}</p>
            <p>Time: {{ earthquake.properties.time | date:"dd/MM/yyyy 'at' h:mma" }}</p>

            <div class="alert alert-danger" role="alert" ng-if="earthquake.properties.tsunami">
                <p>Tsunami Alert!</p>
            </div>

            <map center="{{ earthquake.geometry.coordinates[1] + ',' + earthquake.geometry.coordinates[0] }}" zoom="4">
                <marker position="{{ earthquake.geometry.coordinates[1] + ',' + earthquake.geometry.coordinates[0] }}" title="map"></marker>
            </map>

            <hr>
        </div>
        <div ng-show="!earthquakes.features.length">There is not earthquakes with a magnitude over {{ earthquakesParams.minMagnitude }}<div/>{{ earthquakes.length }}
    </article>

    
</div>
