<div class="container">
	<div>
		<section>
			<h4>Earthquake Magnitude {{ earthquake.properties.mag }}</h4>
			<legend>{{ earthquake.properties.place }}</legend>
			<p>Time: {{ earthquake.properties.time | date:"dd/MM/yyyy 'at' h:mma" }}</p>	
		</section>

		<section>
			<map center="{{ earthquake.geometry.coordinates[1] + ',' + earthquake.geometry.coordinates[0] }}" zoom="4">
                <marker position="{{ earthquake.geometry.coordinates[1] + ',' + earthquake.geometry.coordinates[0] }}" title="map"></marker>
            </map>	
		</section>

		
	</div>
</div>